@CHARSET "UTF-8";
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}
body {
    background-color: #F3F3F3;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}
/* MAIN */
main h1, main h2, main p, .logboek, #titelheader {
    margin-left: 20px;
    margin-right: 20px;
}
#titelheader {
    margin-bottom: 1em;
}
#welkproduct, #producttekoop {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.idform {
    margin-bottom: 0.5em;
}
input {
    padding: 12px 20px;;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #932432;
    border-radius: 4px;
}
h1, h2 {
    color: #3C1874;
    margin-top: 1em;
}
main p {
    margin-top: 0.5em;
}
p, nav ul li {
    color: #283747;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #932432;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#overzichttekoop {
    margin-bottom: 0.5em;
}
#welkom, #welkproduct, #verkoopproduct, #overzichttekoop, #zoekProduct {
    margin-top: 0.5em;
}
tr, th, td {
    padding: 0.625em 2.5em 0.625em 0.3125em;
}
#logboekproduct {
    margin-left: 20px;
    margin-right: 20px;
}
/* VALIDATIE */
#validatie, #validatie1 {
    border-radius: 0.5em;
    list-style-type: disc;
    background-color: lightgray;
    max-width: 25em;
    margin-left: 20px;
    margin-right: 20px;
}
#validatie1 {
    margin-bottom: 0.5em;
}
#validatie {
    margin-top: 0.5em;
}
/* NAVIGATIE */
#actual a { /*als op huidige pagina dan kleur azure*/
    color: black;
}
nav ul li a:link, nav ul li a:visited {
    color: white;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: #555555;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /*als geen plaat voor alle 3 dan onder elkaar*/
    flex-direction: column;
}

nav ul li {
    text-transform: uppercase;
    letter-spacing: 1px;
    flex: 1 1 auto;
}
nav ul li a {
    display: block;
    padding: .5em 1em;
    margin: .25em;
    text-decoration: none;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    border-collapse: collapse;
}
/* FOOTER */
footer {
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.5em;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
}
@media screen and (min-width: 950px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
}